name: Snyk scan
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  security-events: write

jobs:
  snyk-security:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@9adf32b1121593767fc3c057af55b55db032dc04
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          snyk-version: v1.1297.3
          args: --all-projects --sarif-file-output=snyk.sarif

      - name: Handle undefined security-severity
        run: |
          if [ -f snyk.sarif ]; then sed -i 's/"security-severity": "undefined"/"security-severity": "0"/g' snyk.sarif; fi

      - name: Check output file
        id: out-file
        run: |
          if test -f "snyk.sarif"; then
            echo "::set-output name=exists::true"; else
            echo "::set-output name=exists::false"
          fi

      - name: Upload result to GitHub Code Scanning
        if: steps.out-file.outputs.exists == 'true'
        uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v4.32.3
        with:
          sarif_file: snyk.sarif
